.App {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
}
.App .form {
  position: relative;
  margin-bottom: 10px;
}
.App .search-text {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 65px 0 5px;
  width: 100%;
  height: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
.App .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 60px;
  height: 35px;
  background-color: #13424b;
  color: #fff;
}

.App .form.disable .search-btn {
  background-color: #b3b3b3;
}

.App .loading {
  overflow: hidden;
  text-align: center;
  height: 0;
  line-height: 18px;
  font-size: 0;
  transition: 0.3s;
}
.App .loading.on {
  font-size: 13px;
  height: 20px;
}